
/LiveEngineMultiZERODHAProfittaking/saved_data
LiveEngineMultiZERODHAProfittaking/TA_Lib-0.4.28-cp312-cp312-win_amd64.whl
/LiveEngineMultiZERODHAProfittaking/Tradesheets
/LiveEngineMultiZERODHAProfittaking/pykiteconnect-master
/LiveEngineMultiZERODHAProfittaking/__pycache__
/venv3.8
/LiveEngineMultiZERODHAProfittaking/logs
/LiveEngineMultiZERODHAProfittaking/equities
/LiveEngineMultiZERODHAProfittaking/daily_jsons
